:root {
  --c-yellow: hsl(47, 88%, 63%);
  --c-white: hsl(0, 0%, 100%);
  --c-grey: hsl(0, 0%, 50%);
  --c-black: hsl(0, 0%, 7%);
  --f-family: Figtree, sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: var(--c-yellow);
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: var(--f-family);
  font-weight: 600;
  line-height: 21px;
  font-size: 12px;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding: 0 1.5rem;
}

.card {
  width: 100%;
  max-width: 384px;
  background-color: var(--c-white);
  padding: 1.5rem;
  border-radius: 1.25rem;
  border: 1px solid var(--c-black);
  box-shadow: 8px 8px 0px rgb(0, 0, 0);
}

.card-img {
  border-radius: 10px;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  margin-top: 1.5rem;
}

.card-tag {
  background-color: var(--c-yellow);
  padding: 5px 12px;
  display: inline-flex;
  font-size: clamp(12px, 2vw, 14px);
  font-weight: 800;
  border-radius: 4px;
}

.card-time {
  margin: 10px 0 14px;
  font-size: clamp(12px, 2vw, 14px);
}

.card-title {
  font-size: clamp(20px, 2vw, 24px);
  font-weight: 800;
}

.card-text {
  margin: 15px 0 24px;
  font-size: clamp(14px, 2vw, 16px);
  color: var(--c-grey);
}

.card-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-user img {
  width: 2rem;
  height: 2rem;
}

.cars-user a {
  font-size: 15px;
}

.attribution {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  margin-top: 0.5333rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: inherit;
}
.attribution a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 450px) {
  body {
    line-height: 24px;
  }
  .card-time {
    margin: 12px 0 15px;
  }
  .card-text {
    margin: 16px 0 24px;
  }
}
